<div class="card">
    <img src="http://download.seaicons.com/download/i80410/uiconstock/socialmedia/uiconstock-socialmedia-aws.ico" alt="aws" style="width:100%">
    <h1>Public: {{ public_ip }}</h1>
    <h1>Private: {{ local_ip }}</h1>
    <p class="title">Hostname: {{ hostname }}</p>
    <p class="title">Availability Zone: {{ zone }}</p>
    <p class="title">OS: {{ os }} {{ release  }} - {{ arch  }}</p>
    <p class="title">Uptime: {{ uptime }}</p>
    <a href="https://twitter.com/fidelissauro">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/msfidelis/">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/msfidelis">
        <i class="fa fa-github"></i>
    </a>
</div>
